<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
	<head>
		<title>QRMusical</title>
		<!--
		<link href="${request.static_url('QRMusical:static/css/bootstrap.css')}" rel="stylesheet" media="screen">
		<link href="${request.static_url('QRMusical:static/css/bootsrap-responsive.css')}" rel ="stylesheet">
		-->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	</head>
	<body>
		<div id="sidebar" class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">QRMusical</a>
				</div>
				<div class="navbar-collapse collapse" style="height: 1px;">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/setting">Setting</a></li>
						<li><a href="/setting">Upload</a></li>
						<li><a href="/setting">Game</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="content">
			{% block content %}{% endblock content %}
		</div>
	</body>
</html>
	

