{% extends "common_template.html" %}

{% block activate_home %} class="active" {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<h2>Descifrar el código</h2>
        <h4>Ajuste el QR y cuando esté enfocado, pulse descifrar</h4>

		<div class="col-sm-12 well">
		{% load zbar_extras %}
		</div>

		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Descifrar el código</h4>
					<p>Ajuste el código a la cámara y cuando quede en una posición bien enfocado, pusle el botón siguiente</p>
					<button class="btn btn-primary">Descifrar!</button>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock content %}
