{% extends "common_template.html" %}

{% block activate_home %} class="active" {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<h2>Descifrar el código</h2>
        <h4>Ajuste el QR hasta que esté enfocado</h4>
		<div class="col-sm-12 well">
			<iframe width="320" height="240" src="{{ cam }}" frameborder="0" allowfullscreen="False"></iframe>
		</div>
		
		<div class="col-sm-12 alert alert-info">
			{% include "message.html" %}
		</div>


	</div>
</div>


{% endblock content %}

