{% extends "common_template.html" %}
<p><h1>Hola Hola caracola</h1></p>
<!--
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="well">
				<a href="${request.static_url('pictures/')}${imagedata['filename']}">
					<img src="${request.static_url('pictures/')}${    imagedata['filename']}" class="img-responsive">
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Descifrar el código</h3>
					<p>Ajuste el código a la cámara y cuando quede en una posición bien enfocado, pusle el botón siguiente</p>
					<button>Descifrar!</button>
				</div>
			</div>
		</div>
	</div>
</div>
-->
