{% load staticfiles %}

<div class="col-sm-12 QRM_box alert {{ alert }}">
	<div id="auto" >
		<p>
			<strong>
				{% if alert == 'alert-info' %}
					Info. 
				{% elif alert == 'alert-success' %}
					Succes!.
				{% endif %}
			</strong>
			{{ message }}
		</p>
	</div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>	

<script type="text/javascript">
	
    function update_message_home(){
        $('#auto').load('{% url 'message' %} #auto');
    }
    setInterval( "update_message_home()", 2000 );
    
</script>
