{% extends "common_template.html" %}

{% block activate_setting %} class="active" {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<h1>Settings</h1>
		<h2>General camera settings</h2>
		<div class="col-sm-12 QRM_box QRM_orange">
			<div class="QRM_box_in ">
				<form method="POST">{% csrf_token %}
					
					<span class="text-danger small">{{ field.errors}}</span>
				
					<label >{{ field.label_tag}}</label>
					<div class="col-sm-2">{{ field }}</div>
					
					{{ form.as_p }}

					<button type="submit" class="QRM_btn"> Save</button>
				</form>			
			</div>
		</div>
	</div>
</div>
{% endblock content %}

