{% extends "common_template.html" %}

{% block activate_setting %} class="active" {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-8 well">
			<h1>Settings</h1>
			<!--
			<p>Image Width: {{object.image_width}}</p>
			<p>Image Height: {{object.image_height}}</p>
			<p>Image Rotation: {{object.image_rotation}}</p>
			<p>Timeout (ms): {{object.timeout}}</p>
			-->
			<form method="POST">{% csrf_token %}
				
				<span class="text-danger small">{{ field.errors}}</span>
			
				<label >{{ field.label_tag}}</label>
				<div class="col-sm-2">{{ field }}</div>
				
			    {{ form.as_p }}

			    <button type="submit" class="btn btn-success"> Save</button>
			</form>
		</div>
	</div>
</div>
{% endblock content %}

