{% load staticfiles %}

<div id="auto" >
	
	<div class="col-sm-12 QRM_box QRM_pink">
		<div class="QRM_box_in">
		{{ name }}

			<div style="width:200; overflow: hidden">

			{% if image %}
				<img src="{{ image }}" width="200">
			{% else %}
				<img src="/files/static/interrogation.png">
			{% endif %}
			</div>	
		</div>
	</div>
	
	
	<div class="col-sm-12 QRM_box alert {{ alert }}">
		<p>
			<strong>
				{% if alert == 'alert-info' %}
					Info. 
				{% elif alert == 'alert-success' %}
					Succes!.
				{% elif alert == 'alert-danger' %}
					Error!.
				{% endif %}
			</strong>
			{% if alert == 'alert-danger' %}
				The QR code "{{ message }}" is NOT the wanted.
			{% else %}
				{{ message }}
			{% endif %}
		</p>
	</div>
	
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>	

<script type="text/javascript">
	
    function update(){
        $('#auto').load('{% url 'read_code' %} #auto');
    }
    setInterval( "update()", 2000 );
    
</script>
