{% extends "common_template.html" %}

{% block activate_upload %} class="active" {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Upload</h1>
        <h2>Suba archivos para tratarlos</h2>
		
		<div class="col-sm-12 QRM_box QRM_green"> 
			<div class="QRM_box_in">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit">Upload</button>
				</form>
			</div>   
		</div>
<!--
		<div class="col-sm-4">
			<h5>Last 5 Images</h5>
			{% for img in images_list %}
				<a href="{% url 'item' img.pk %}">
					<p>{{ img }}</p>
				</a>
			{% endfor %}    
		</div>    

		<div class="col-sm-4">
			<h5>Last 5 Songs</h5>
			{% for son in songs_list %}
				<a href="{% url 'item' son.pk %}">
					<p>{{ son }}</p>
				</a>
			{% endfor %}    
		</div> 

		<div class="col-sm-4">
			<h5>Last 5 Sounds</h5>
			{% for sou in sound_list %}
				<a href="{% url 'item' sou.pk %}">
					<p>{{ sou }}</p>
				</a>			
			{% endfor %}    
		</div> 
 -->
	</div>
</div>
<div>
	{% include "last_items.html" with images_list=images_list %}
</div>

{% endblock content %}
