{% extends "common_template.html" %}

{% block activate_upload %} class="active" {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Upload</h1>
        <h2>Suba archivos para tratarlos</h2>
		
		<div class="col-sm-12 QRM_box QRM_green"> 
			<div class="QRM_box_in">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit">Upload</button>
				</form>
			</div>   
		</div>

		{% if uploaded_file_url %}
			<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
		{% endif %}

		<div class="col-sm-4">
			<h5>Last 5 Images</h5>
			{% for img in images_list %}
				<p>{{ img }}</p>
			{% endfor %}    
		</div>    

		<div class="col-sm-4">
			<h5>Last 5 Songs</h5>
			{% for son in songs_list %}
				<p>{{ son }}</p>
			{% endfor %}    
		</div> 

		<div class="col-sm-4">
			<h5>Last 5 Sounds</h5>
			{% for sou in sound_list %}
				<p>{{ sou }}</p>
			{% endfor %}    
		</div> 
	</div>
</div>
 
{% endblock content %}
