{% extends "common_template.html" %}

{% block activate_upload %} class="active" {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Upload</h1>
        <h2>Suba archivos para tratarlos</h2>
		
		<div class="col-sm-12 QRM_box QRM_blue"> 
			<div class="QRM_box_in">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<center>{{ form.as_p }}</center>
					<button type="submit" class="QRM_btn">Upload</button>
				</form>
			</div>   
		</div>

		<div class="col-sm-12 QRM_box alert {{ alert }}">
			<p>
				<strong>
					{% if alert == 'alert-info' %}
						Info. 
					{% elif alert == 'alert-success' %}
						Succes!.
					{% endif %}
				</strong>
				{{ message }}
			</p>	
		</div>

	</div>
</div>



<div>
	{% include "last_items.html" with images_list=images_list %}
</div>

{% endblock content %}
